In [115]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.naive_bayes import MultinomialNB 
from sklearn.metrics import accuracy_score

In [15]:
dataset = pd.read_csv("train.csv")

In [117]:
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.0,2,0,345764,18.0000,NaN,S
608,609,1,2,"Laroche, Mrs. Joseph (Juliette Marie Louise La...",female,22.0,1,2,SC/Paris 2123,41.5792,NaN,C
729,730,0,3,"Ilmakangas, Miss. Pieta Sofia",female,25.0,1,0,STON/O2. 3101271,7.9250,NaN,S
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,345778,9.5000,NaN,S
403,404,0,3,"Hakkarainen, Mr. Pekka Pietari",male,28.0,1,0,STON/O2. 3101279,15.8500,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
257,258,1,1,"Cherry, Miss. Gladys",female,30.0,0,0,110152,86.5000,B77,S
321,322,0,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,NaN,S
521,522,0,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,NaN,S
603,604,0,3,"Torber, Mr. Ernst William",male,44.0,0,0,364511,8.0500,NaN,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.0,0,0,7534,9.2167,NaN,S
788,789,1,3,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
363,364,0,3,"Asim, Mr. Adola",male,35.0,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
535,536,1,2,"Hart, Miss. Eva Miriam",female,7.0,0,2,F.C.C. 13529,26.2500,NaN,S
613,614,0,3,"Horgan, Mr. John",male,NaN,0,0,370377,7.7500,NaN,Q
793,794,0,1,"Hoyt, Mr. William Fisher",male,NaN,0,0,PC 17600,30.6958,NaN,C
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1,1,347080,14.4000,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
416,417,1,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,NaN,S
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
771,772,0,3,"Jensen, Mr. Niels Peder",male,48.0,0,0,350047,7.8542,NaN,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.0,0,0,2694,7.2250,NaN,C
398,399,0,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S
335,336,0,3,"Denkoff, Mr. Mitto",male,NaN,0,0,349225,7.8958,NaN,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
463,464,0,2,"Milling, Mr. Jacob Christian",male,48.0,0,0,234360,13.0000,NaN,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S
713,714,0,3,"Larsson, Mr. August Viktor",male,29.0,0,0,7545,9.4833,NaN,S
751,752,1,3,"Moor, Master. Meier",male,6.0,0,1,392096,12.4750,E121,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
596,597,1,2,"Leitch, Miss. Jessie Wills",female,NaN,0,0,248727,33.0000,NaN,S
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q
682,683,0,3,"Olsvigen, Mr. Thor Anderson",male,20.0,0,0,6563,9.2250,NaN,S
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
218,219,1,1,"Bazzani, Miss. Albina",female,32.0,0,0,11813,76.2917,D15,C
659,660,0,1,"Newell, Mr. Arthur Webster",male,58.0,0,2,35273,113.2750,D48,C
308,309,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.5000,F33,S
691,692,1,3,"Karun, Miss. Manca",female,4.0,0,1,349256,13.4167,NaN,C
425,426,0,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S
847,848,0,3,"Markoff, Mr. Marin",male,35.0,0,0,349213,7.8958,NaN,C
114,115,0,3,"Attalah, Miss. Malake",female,17.0,0,0,2627,14.4583,NaN,C
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
189,190,0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,NaN,S
432,433,1,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S
424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.0,1,1,370129,20.2125,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.0,0,0,28665,10.5000,NaN,S
767,768,0,3,"Mangan, Miss. Mary",female,30.5,0,0,364850,7.7500,NaN,Q

In [124]:
def processFeatureSet(dataset):
    featureset = dataset.drop(['Name', 'Ticket', 'Cabin','Embarked'],axis = 1)
    encoder = preprocessing.LabelEncoder()
    encoder.fit(["female", "male"])
    featureset['Sex'] = encoder.transform(featureset['Sex'])
    featureset['Age'] = np.nan_to_num(featureset['Age'])
    return featureset

In [125]:
dataset = shuffle(dataset)

In [126]:
label = dataset['Survived']

In [127]:
featureset = processFeatureSet(dataset)
featureset = featureset.drop('Survived', axis=1)

In [128]:
featureset

     PassengerId  Pclass  Sex    Age  SibSp  Parch      Fare
687          688       3    1  19.00      0      0   10.1708
444          445       3    1   0.00      0      0    8.1125
594          595       2    1  37.00      1      0   26.0000
489          490       3    1   9.00      1      1   15.9000
27            28       1    1  19.00      3      2  263.0000
427          428       2    0  19.00      0      0   26.0000
880          881       2    0  25.00      0      1   26.0000
255          256       3    0  29.00      0      2   15.2458
88            89       1    0  23.00      3      2  263.0000
421          422       3    1  21.00      0      0    7.7333
368          369       3    0   0.00      0      0    7.7500
322          323       2    0  30.00      0      0   12.3500
352          353       3    1  15.00      1      1    7.2292
781          782       1    0  17.00      1      0   57.0000
497          498       3    1   0.00      0      0   15.1000
717          718       2    0  27.00      0      0   10.5000
748          749       1    1  19.00      1      0   53.1000
349          350       3    1  42.00      0      0    8.6625
714          715       2    1  52.00      0      0   13.0000
849          850       1    0   0.00      1      0   89.1042
457          458       1    0   0.00      1      0   51.8625
638          639       3    0  41.00      0      5   39.6875
495          496       3    1   0.00      0      0   14.4583
116          117       3    1  70.50      0      0    7.7500
538          539       3    1   0.00      0      0   14.5000
0              1       3    1  22.00      1      0    7.2500
13            14       3    1  39.00      1      5   31.2750
633          634       1    1   0.00      0      0    0.0000
353          354       3    1  25.00      1      0   17.8000
691          692       3    0   4.00      0      1   13.4167
..           ...     ...  ...    ...    ...    ...       ...
860          861       3    1  41.00      2      0   14.1083
541          542       3    0   9.00      4      2   31.2750
586          587       2    1  47.00      0      0   15.0000
682          683       3    1  20.00      0      0    9.2250
20            21       2    1  35.00      0      0   26.0000
155          156       1    1  51.00      0      1   61.3792
507          508       1    1   0.00      0      0   26.5500
161          162       2    0  40.00      0      0   15.7500
724          725       1    1  27.00      1      0   53.1000
663          664       3    1  36.00      0      0    7.4958
433          434       3    1  17.00      0      0    7.1250
670          671       2    0  40.00      1      1   39.0000
559          560       3    0  36.00      1      0   17.4000
794          795       3    1  25.00      0      0    7.8958
419          420       3    0  10.00      0      2   24.1500
105          106       3    1  28.00      0      0    7.8958
623          624       3    1  21.00      0      0    7.8542
280          281       3    1  65.00      0      0    7.7500
30            31       1    1  40.00      0      0   27.7208
81            82       3    1  29.00      0      0    9.5000
557          558       1    1   0.00      0      0  227.5250
258          259       1    0  35.00      0      0  512.3292
290          291       1    0  26.00      0      0   78.8500
872          873       1    1  33.00      0      0    5.0000
831          832       2    1   0.83      1      1   18.7500
381          382       3    0   1.00      0      2   15.7417
834          835       3    1  18.00      0      0    8.3000
677          678       3    0  18.00      0      0    9.8417
356          357       1    0  22.00      0      1   55.0000
424          425       3    1  18.00      1      1   20.2125

[891 rows x 7 columns]

In [64]:
testSize = 891//10

In [91]:
label_test,label_train = label[:testSize], label[testSize:]

In [101]:
X_test,X_train = featureset[:testSize], featureset[testSize:]

In [116]:
classifier = MultinomialNB()
classifier.fit(X_train, label_train)
y_predicted = classifier.predict(X_test)
print("Accuracy: %.2f" % accuracy_score(label_test, y_predicted))

Accuracy: 0.67

In [121]:
test_dataset = pd.read_csv("test.csv")

In [129]:
test_dataset = processFeatureSet(test_dataset)